<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/css/styles.css" />
    <meta charset="UTF-8" />
    <title><%= title %></title>
  </head>
  <body>
    <center>
    <h1>Welcome to <%= title %>!</h1>
    </center>
    <div>
<font size="4">
<font color="white">
<center><h1>
<br>
<div4><table border="5" bordercolor="white"><tr><th>KL</th></tr></table>
Kristoffer Lacson</h1></center>
</font>
</font>
</div>
<font size="5">
<center><p style="color:gray">Information Technology Student</center></p>
</font>
<font size="4">
<p><center><i>A goal-driven Information Technology (IT) student who aims to enhance his technical skills through substantial experience in the field of technology and information. <br>Diligent and adept enough to adjust in any working environment and seeks to contribute to thriving organizations that may further develop him holistically.</i></center></p>
</font>
<center>
<hr size="5" color="white">
<font size="4">
<hr size="5" noshade>
<p1>Contact Number: +639351423794</p1>
<br>
<p2>Email: lacsontoff@yahoo.com</p2>
</font>
<br>
<p3 style="font-size:20px">Facebook: Kristoffer Lacson</p3>
</center>

<hr size="5" noshade>
<center>
<p5 style="font-size:23px"><b>Personal Information</b></p5>
<br>
</br>
</center>
<center>
<font size="4" face="Courier New">
<table style="width:30%" style="height:700%">
  <tr>
    <th height="35">Age</th>
    <td height="35">19</td>
  </tr> 
  <tr>
    <th height="35">Sex</th>
    <td height="35">Male</td>
  </tr> 
  <tr>
    <th height="35">Height</th>
    <td height="35">165 cm</td>
  </tr> 
  <tr>
    <th height="35">Weight</th>
    <td height="35">59 kg</td>
  </tr> 
  <tr>
    <th height="35">Citizenship</th>
    <td height="35">Filipino</td>
  </tr> 
  <tr>
    <th height="35">Religion</th>
    <td height="35">Catholic</td>
  </tr> 
  </table>
  </center>
<hr size="5" noshade>
<center>
<p5 style="font-size:23px"><b>Educational Background</b></p5>
</center>
<br>
<br>

<div2 style="float: left;margin-left:75px">
<font size="4" face="Courier New">
<table style="width:150%" style="height:700%">
  <tr>
    <th height="75">Tertiary</th>
    <td height="75">Bachelor of Science in Information Technology
      <br>
Holy Angel University
<br>
2019-2023
</td>
  </tr>
  <tr>
    <th height="75">Secondary</th>
    <td height="75">Senior Highschool and Junior Highschool
      <br>
      Republic Central Colleges
Plaridel St. Angeles City
<br>
2013-2019
</td>
  </tr> 
  <tr>
    <th height="75">Primary</th>
    <td height="75">Elementary School
      <br>
      Republic Central Colleges
Plaridel St. Angeles City
<br>
2008-2013
</td>
  </tr> 
</table>
</div2>


<div1 style="float: right;margin-right:75px">
<font size="3" face="Courier New">
</div1>
</font>
<br><br><br><br><br><br><br><br><br><br>
<br><br>
  <hr size="5" noshade>
<center>
<p7 style="font-size:23px"><b>Training/Certifications and Honors</b></p7>
</br>
</center>
<font size="4" face="Courier New">
<table style="width:100%" style="height:700%">
  <tr>
    <th height="75">Model Student Award</th>
    <td height="75">Republic Central Colleges
<br>
2015, 2016, 2017, 2018, 2019
</td>
  </tr>
  <tr>
    <th height="75">Loyalty Award</th>
    <td height="75">
      Republic Central Colleges
<br>
2019
</td>
  </tr>
  </table>
  </body>
</html>
